<div class="main_bg">
	<div class="container primary-content">
    <div class="invoice-container rounded-container peel-shadows col-sm-8 col-sm-offset-2">

      <h2 style="text-align:center;margin-bottom:30px;">Счет на оплату</h2>
		
      <div class="invheader">
        <div class="invheader-upper">
          <!-- User модель. Сюда будем подключать шаблон с данными пользователя: имя, адрес, аватар -->
        </div>
        <div class="invheader-lower">
          <!-- Invoice модель. Сюда будем подключать шаблон с данными нашего счета и данными заказчика -->
        </div>
      </div>

	
      <div class="invbody">
        <div class="invbody-tasks">
          <!-- Task коллекция. Сюда будем подключать шаблон со списком задач -->
        </div>

        <div class="clearb" style="height: 1px; overflow: hidden;"></div>

        <div class="invbody-account">
          <!-- User модель снова. Сюда будем подключать реквизиты пользователя для оплаты -->
        </div>
      </div>
    </div>
  </div>
</div> 
